<div class="message-container" id="message-<%= message.id %>">
  <i class="author">
<img class="avatar m-2" src=<%= cl_image_path(message.user.photo.key, width: 50, height: 50, crop: :thumb, gravity: :face) %> />
<span><%= message.user.first_name.capitalize %></span>
</i>
<p class="message-content"><%= message.content %></p>
</div>
<% if false %>
  <div class="message <%= message.from?(current_user) ? "right" : "" %>">
    <%= image_tag message.user.avatar_url, class: "avatar" %>
    <div class="message-content"> <%= message.content %></div>
  </div>
<% end %>
