<div class = "info-window">
  <div class = "info-window first">
    <p><%= "#{radar.creator.first_name}'s #{Activity.find(radar.activity_id).name} Beacon"%></p>
    <p><%= radar.description %></p>
  </div>
  <div class = "info-window second">
      <img class="avatar m-2" src=<%= cl_image_path(radar.creator.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face) %>>
      <% radar.participants.each do |participant| %>
        <img class="avatar m-2" src=<%= cl_image_path(participant.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face) %>>
      <% end %>
      <h6><%= link_to "Join", join_radar_path(radar), method: "POST", class: "custom-btn custom-btn-sign-up"  %></h6>
       <h6><%= button_to "Follow", follow_user_path(radar.creator.id), method: "POST"%></h6>
  </div>
</div>
