
<div class="info-window">
  <div class="info-window-user-section d-flex justify-content-start">
    <div class="info-window-avatar">
      <img class="avatar m-2" src=<%= cl_image_path(radar.creator.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face) %> />
    </div>
    <div>
      <p><%= radar.creator.first_name.capitalize %></p>
    </div>
    <div>
      <h5><%= button_to "Follow", follow_user_path(radar.creator.id), method: "POST", class:"btn btn-sm btn-outline-info"  %></h5>
    </div>
  </div>
  <hr>
  <div>
    <% if radar.creator === current_user %>
      <p></p>
    <% else %>
      <p style="margin: 0px; font-weight: 200;"><%= radar.creator.first_name.capitalize %> is <%= @distance = current_user.distance_to([radar.creator.latitude, radar.creator.longitude])%> km away</p>
    <% end %>
  </div>
  <div>
    <p style="margin: 0px; font-weight: 200;">Participants</p>
      <% if radar.participants.count === 0 %>
        <p style="margin: 0px; font-weight: 200;">Empty</p>
      <% else %>
        <% radar.participants.each do |participant| %>
        <img class="avatar m-2" src=<%= cl_image_path(participant.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face) %>>
        <% end %>
      <% end %>
  </div >
  <div class="info-window-details d-flex justify-content-around">
    <div style="margin-top: 6px;">
      <p style="margin: 0px; font-weight: 200;">Activity</p>
      <p style="margin: 0px; font-weight: bolder;" id="beacon-activity"> <%= Activity.find(radar.activity_id).name.capitalize %></p>
    </div>
    <div style="margin-top: 6px; margin-left: 30px;">
      <p style="margin: 0px; font-weight: 200;">When</p>
      <p style="margin: 0px; font-weight: bolder;" id="beacon-activity"> <%= radar.time.to_time.strftime("%l:%M%p") %></p>
    </div>
  </div>
  <div>
    <% if radar.creator === current_user %>
      <p></p>
    <% else %>
    <p><%= link_to "Join", join_radar_path(radar), method: "POST", class: "custom-btn custom-btn-join btn-block"  %></p>
    <% end %>
  </div>
</div>
