<div class="card-trip row justify-content-center">
  <div class="col-6 col-sm-12">
      <h2>id: <%= radar.id %></h2>
      <h2>user: <%= radar.user.id %></h2>
      <h2>latitude: <%= radar.latitude %></h2>
      <h2>longitude: <%= radar.longitude %></h2>
      <h2>time: <%= radar.time %></h2>
      <p>desc: <%= truncate radar.description, length: 30, separator: /\w+/ %></p>
      <h2>radius: <%= radar.radius %></h2>
  </div>
</div>
