<%= render 'shared/navbar' %>
<div class="main-container row">
  <nav id='filters' class='filter-ui'></nav>
  <div id="map" class="col-md-12 col-lg-8"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="cards col-md-8 col-lg-4">
   <% @radars.each do |radar|  %>
    <div class="card">
      <div class="card-user-section-info">
          <img class="avatar-square" src= <%= cl_image_path(radar.creator.photo.key, width: 200, height: 200, crop: :thumb, gravity: :face) %> />
          <div>
            <p style="margin: 0px; font-weight: lighter; display: inline;">Activity :</p>
            <p style="margin: 0px; font-weight: bolder; display: inline;" id="beacon-activity"> <%= Activity.find(radar.activity_id).name.capitalize %></p>
          </div>
          <div>
            <p style="margin: 0px; font-weight: lighter; display: inline;">When :</p>
            <p style="margin: 0px; font-weight: bolder; display: inline;" id="beacon-activity"> <%= radar.time.to_time.strftime("%l:%M%p") %></p>
          </div>
          <%if radar.creator == current_user %>
              <p style="margin: 0px; font-weight: 200">Creator</p>
          <% else %>
          <%= link_to "Join", join_radar_path(radar), method: "POST", class: "beacon-join-button"  %>
          <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
