<%= render 'shared/navbar' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-sm-12" data-controller="location">
      <%= simple_form_for @radar do |f| %>
        <%= f.input :activity_id, collection: Activity.all, prompt: 'Select an Activity', required: true %>
        <%= f.input :time, as: :time, html5: true %>
        <%= f.input :description, as: :text, placeholder: 'Share a Description', required: true %>
        <%= f.input :address, as: :string, input_html: { id:'beacon_address'}, label: 'Address: Pick a place to meet', placeholder: '181 Orchard Road Singapore..' %>
        <a class="btn btn-info" data-location-target="button" data-action="click->location#getCoordinates"> Set Address to your current location</a>
        <%= f.input :longitude, as: :hidden , input_html: {data: {location_target: 'longitude'}}  %>
        <%= f.input :latitude, as: :hidden, input_html: {data: {location_target: 'latitude'}} %>
        <%= f.input :private, as: :boolean, checked_value: true, unchecked_value: false, label: 'Private - Only your Followers will see your Beacon' %>
        <%= f.button :submit, value: 'Create Beacon', class: "btn btn-success"%>
      <% end %>
    </div>
  </div>
</div>
