<%= render 'shared/navbar' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-sm-12" data-controller="location">
      <%= simple_form_for @radar do |f| %>
        <%= f.input :activity_id, collection: Activity.all%>
        <%= f.input :time, as: :time, html5: true %>
        <%= f.input :description, as: :text %>
        <%= f.input :address, as: :text, input_html: { autocomplete: "address-name" } %>
        <%= f.input :private, as: :boolean, checked_value: true, unchecked_value: false %>
        <%= f.button :submit, class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
