<%= render 'shared/navbar' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-sm-12">
      <%= simple_form_for @radar do |f| %>
        <%# <%= f.input :activity_id, input_html: { type: 'number' } %>
        <%= f.input :activity_id, collection: Activity.all %>
        <%= f.input :time, as: :time, html5: true %>
        <%= f.input :radius, collection: 1..10 %>
        <%= f.input :description, as: :text %>
        <%= f.button :submit, class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
