<%= render 'shared/navbar' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="chat-header">
        <div class="d-flex justify-content-between">
          <div>
            <h4><i class="fas fa-blog"></i> <%= @radar.creator.first_name.capitalize %>'s beacon </h4>
          </div>
          <div>
            <span>Share to</span>  <%= render 'shared/social_media_shareable' %>
          </div>
        </div>
        <hr>
        <div class="beacon-message-details">
        <div class="beacon-message-details-activity" style="margin: 2px;">
          <div style="display: inline; margin-right: 10px;">
            <p style="margin: 0px; font-weight: 200;">Activity</p>
            <p style="margin: 0px; font-weight: bolder;" id="beacon-activity"> <%= Activity.find(@radar.activity_id).name.capitalize %></p>
          </div>
          <div style="display: inline;">
            <p style="margin: 0px; font-weight: 200;">When</p>
            <p style="margin: 0px; font-weight: bolder;" id="beacon-activity"> <%= @radar.time.to_time.strftime("%l:%M%p") %></p>
          </div>
        </div>
          <div>
          <%= link_to "Leave", leave_radar_path(@radar), method: "POST", class: "btn btn-outline-danger" %>
          <% if current_user == @radar.creator %>
          <%= link_to "Delete", radar_path(@radar), method: "DELETE", class: "btn btn-outline-danger" %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="messages">
        <div id="messages" data-radar-id="<%= @radar.id %>">
          <% @radar.messages.each do |message| %>
            <%= render 'messages/message', message: message, user_is_messages_author: message.user == current_user %>
          <% end %>
        </div>
      </div>
      <%= simple_form_for [ @radar, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "type something here" %>
        <%= f.submit "send", class: "btn btn-outline-info mt-2 message-submit-btn"%>
      <% end %>
    </div>
  </div>
</div>
