<%= render 'shared/navbar' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="chat-header">
        <h4><%= @radar.user.first_name %>'s beacon</h4>
        <span>Activity: <%= Activity.find(@radar.activity_id).name %></span>
        <h5>Share to: <%= social_share_button_tag(@radar.user.first_name, :url => "http://www.google.com") %></h5>
      </div>
      <div class="messages">
        <div id="messages" data-radar-id="<%= @radar.id %>">
          <% @radar.messages.each do |message| %>
            <%= render 'messages/message', message: message, user_is_messages_author: message.user == current_user %>
          <% end %>
        </div>

      </div>
      <%= simple_form_for [ @radar, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Message ##{@radar.id}" %>
        <%= f.submit "send", class: "mt-2"%>
      <% end %>
    </div>
  </div>
</div>
