<%= render 'shared/navbar' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="chat-header">
        <div class="d-flex justify-content-between">
          <div>
            <h4><i class="fas fa-blog"></i> <%= @radar.user.first_name.capitalize %>'s beacon </h4>
          </div>
          <div>
            <%= render 'shared/social_media_shareable' %>
          </div>
        </div>
<hr>
        <div class="d-flex justify-content-start">
          <div style="margin-top: 6px;">
            <p style="display: inline;">Activity:</p>
            <p id="beacon-activity" style="display: inline;"> <%= Activity.find(@radar.activity_id).name.capitalize %></p>
          </div>
          <div style="margin-top: 6px; margin-left: 30px;">
            <p style="display: inline;">When:</p>
            <p id="beacon-activity" style="display: inline;"> <%= @radar.time.to_time.strftime("%l:%M%p") %></p>
          </div>

        </div>
<hr>
      </div>
      <div class="messages">
        <div id="messages" data-radar-id="<%= @radar.id %>">
          <% @radar.messages.each do |message| %>
            <%= render 'messages/message', message: message, user_is_messages_author: message.user == current_user %>
          <% end %>
        </div>
      </div>
      <%= simple_form_for [ @radar, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "type something here" %>
        <%= f.submit "send", class: "btn btn-outline-info mt-2 message-submit-btn"%>
      <% end %>
    </div>
  </div>
</div>
