<%= render 'shared/navbar' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="chat-header">
        <h4><%= @radar.user.first_name %>'s beacon</h4>
        <span>Activity: <%= Activity.find(@radar.activity_id).name %></span>
        <!-- Your share button code -->
        <!--<div class="fb-share-button" data-href="https://beacon-692.herokuapp.com/" data-layout="button" data-size="small">
          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbeacon-692.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
        </div>-->
        <div class="sharethis-inline-share-buttons" style="padding: 20px 20px;"></div>
      </div>
      <div class="messages">
        <div id="messages" data-radar-id="<%= @radar.id %>">
          <% @radar.messages.each do |message| %>
            <%= render 'messages/message', message: message, user_is_messages_author: message.user == current_user %>
          <% end %>
        </div>
      </div>
      <%= simple_form_for [ @radar, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Message ##{@radar.id}" %>
        <%= f.submit "send", class: "mt-2"%>
      <% end %>
    </div>
  </div>
</div>
